.header{
background-color:rgb(88, 198, 88);
max-width: 600px;
}

#mapid { 
    

    margin: auto;
 
    border: 5px solid #0f0f05;
  
    padding: 10px;
    
    position: absolute;
    
    left: 50%;
    
    top: 50%;
    
    transform: translate(-50%, -50%);
    
    padding: 10px;
  
  }

  