body {
  background-color:#e0ebe0de;
}
.header{
/* background-color:rgb(88, 198, 88); */
max-width: 60%;
text-align: center;
margin-left: auto;
margin-right: auto;
position: relative;
}

.top-buttons {
position: relative;
  
}

.top-buttons {

}
#mapid { 
    

    margin: auto;
 
   
  
    padding: 10px;
    
    position: relative;
    
    
    height: 280px; 
    width: 95%;
    margin-top: 20px;
    margin-bottom: 300px;
  
  }
#spawn {
position: relative;
bottom: 300px;
left: 2x;
}
.location {
  position: relative;
  bottom: 300px;
  left: 2x;
  }
  .nearby {
    position: relative;
    bottom: 287px;
    left: 2x;
  }

#help {
  position: relative;
  
}
.card-img {
    height: 100px;
  }
.res-card {
  
  padding-bottom: 10px;
}
.nearby{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 
  grid-auto-rows: auto;
   
  grid-gap: 1rem;
}